<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700"
        rel="stylesheet">
  <link rel="stylesheet"
        href="../assets/css/style.css">
  <link rel="shortcut icon"
        href="favicon.ico"
        type="image/x-icon">
  <title>M Doyle Website | FAQ</title>
</head>

<body>
  <header class="header container  row my__container">
    <div class="header__container header__container--main">
      <div class="header__mobile">
        <i class="fas fa-bars fa-5x"></i>
      </div>
      <nav class="nav">

        <a class="nav__link "
           href="../">Home</a>
        <a class="nav__link"
           href="./schedule.html">Schedule</a>
        <a class="nav__link nav__link--active"
           href="./faq.html">FAQ</a>
        <a class="nav__link"
           href="./cv.html">CV</a>
      </nav>
    </div>

  </header>
  <main class="flexContainer row my__container">
    <div class="faq">
      <h1 class="faq__title">FAQ</h1>
      <h2 class="faq__subheader">When are you teaching 2019?</h2>
      <p class="faq__content">I am currently serving as Chair of Computer Science and teach only 1 class per semester.
        The exact course I teach depends on the needs of the department.
        <br><br><span style="font-weight: 700"> CSC 394 Teaching Assistant </span>
      </p>

      <h2 class="faq__subheader">Are you interested in working on an independent study with me?</h2>
      <p class="faq__content">If you have an interesting topic for an independent study, please <a
           href=schedule.html>Schedule</a> an appointment. I am much more likely to say yes if it somehow ties into one
        of my research areas.</p>
      <h2 class="faq__subheader">I am interested in doing research with you. What do I need to do?</h2>
      <p class="faq__content">Please contact me and ask for an appointment. I am currently doing research and/or
        publishing in the following areas:
        <ul>
          <li>Security Data Mining with Dr. James Walden <a href="waldenj@nku.edu">waldenj@nku.edu</a></li>
          <li>The benefits of Study Away's impact on student learning outcomes.</li>
          <li>I am also interested in computational problems, although I am currently not working in this area.</li>
        </ul>
      </p>
    </div>
  </main>
  <footer class="footer">
    <p class="footer__copyright">Copyright © 2019<br><a class="footer__email"
         href="#">email@email.com</a></p>
  </footer>
  <script src="/assets/js/script.js"></script>
  <script defer=""
          src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
          integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
          crossorigin="anonymous"></script>
</body>

</html>