<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible"
        content="ie=edge" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700"
        rel="stylesheet" />
  <link rel="stylesheet"
        href="../assets/css/style.css" />
  <link rel="shortcut icon"
        href="favicon.ico"
        type="image/x-icon" />
  <title>M Doyle Website | Scheduling</title>
  <title>Title</title>
</head>

<body>
  <header class="header header row my__container">
    <div class="header__container header__container--main">
      <div class="header__mobile">
        <i class="fas fa-bars fa-5x"></i>
      </div>
      <nav class="nav">

        <a class="nav__link nav__link--active"
           href="../">Home</a>
        <a class="nav__link nav__link--active"
           href="./schedule.html">Schedule</a>
        <a class="nav__link"
           href="./faq.html">FAQ</a>
        <a class="nav__link"
           href="./cv.html">CV</a>
      </nav>
    </div>

  </header>
  <main class="flexContainer row my__container"
        style="margin: 50px auto 0 auto">
    <iframe src="https://calendar.google.com/calendar/embed?src=semiretoja%40gmail.com&ctz=America%2FNew_York"
            style="border: 0"
            width="1000"
            height="600"
            frameborder="0"
            scrolling="no">
    </iframe>
  </main>
  <footer class="footer">
    <p class="footer__copyright">Copyright © 2019<br><a class="footer__email"
         href="#">email@email.com</a></p>
  </footer>
  <script src="/assets/js/script.js"></script>
  <script defer=""
          src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
          integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
          crossorigin="anonymous"></script>
</body>

</html>